.tags {
  display: flex;
  gap: 0.5em;
  list-style: none;
  margin-block: 0.5em 1.5em;
  margin-inline: 0;
  padding: 0;
}

.tag {
  background-color: var(--color-headlines);
  border-radius: 999em;
  color: var(--color-background);
  display: inline-block;
  font-size: 0.875rem;
  padding-block: 0.25em;
  padding-inline: 1em;
}
