:root {
  --color-text: #525d69;
  --color-headlines: #0d1117;
  --color-primary: #00cec9;
  --color-background: #f0f6fc;
  --font-max-size: 72ch;
}

* {
  box-sizing: inherit;
}

::marker {
  color: var(--color-headlines);
}

::selection {
  background-color: var(--color-text);
  color: var(--color-background);
}

blockquote,
ol,
p,
pre,
table,
ul {
  margin-block: 0.5em 1.5em;
}

li,
p {
  max-inline-size: var(--font-max-size);
}

blockquote,
ol,
ul {
  padding-inline-start: 1.5em;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s;
}

a:focus,
a:hover {
  color: #007a7f;
}

button {
  background: none;
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
}

blockquote {
  border-inline-start: 0.125em solid;
  font-style: italic;
  margin-inline: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.75;
  margin: 0;
  min-block-size: 100vh;
}

code {
  font-family: monospace;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headlines);
  font-weight: 300;
  line-height: 1.25;
}

h1 {
  font-size: 4.5rem;
  margin-block: 0;
}

h2 {
  font-size: 3rem;
  margin-block: 3em 0.25em;
  max-inline-size: 30ch;
}

h1 + h2 {
  margin-block-start: 0.5em;
}

h3 {
  font-size: 1.75rem;
  margin-block: 1.5em 0.5em;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

iframe {
  border: 0;
}

iframe[src*="codepen"],
iframe[src*="youtube"] {
  aspect-ratio: 16 / 9;
  height: auto !important;
}

img {
  height: auto;
  max-inline-size: 100%;
  vertical-align: middle;
}

strong {
  color: var(--color-headlines);
  font-weight: 600;
}

iframe,
table {
  inline-size: 100%;
}

th {
  text-align: left;
}

th[align='center'] {
  text-align: center;
}

th[align='right'] {
  text-align: right;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: Fira Code, monospace;
}

pre[class*='language-'] {
  margin-block: 0.5em 1.5em;
}
